[2016-08-24 13:46] firewalkwithme93 opened #4 "'Order By' selection not retained when switching views"
When switching between Grid View and regular view, whatever filter has been selected under 'Order By' is lost. Having this filter remain selected when switching views would be a great Quality Of Life feature.

[2016-08-24 13:49] firewalkwithme93 opened #5 "[Feature Request] Display only scenes with no tags"
A filter to view only scenes which have not been tagged would be a fantastic way to ensure scene library is fully tagged

[2016-08-24 13:53] firewalkwithme93 opened #6 "[Feature Request] Select how many items to be displayed per page"
The ability to select how many items are displayed per page, e.g: 10, 30, 50, 80, 100 etc. when in grid view or regular view. This could potentially make mass tagging faster as you will not need to switch pages to select more items.

[2016-08-24 13:56] firewalkwithme93 opened #7 "Multiple image upload buttons"
This has already been acknowledged on the forum, but the nice blue Upload button is getting lonely when all the attention has to go to the small grey 'upload me' button when changing an Actor's image!

[2016-08-24 14:03] firewalkwithme93 opened #8 "[Feature Request] Open video files and folder on remote device"
The ability to open video files and folders on the device being used to access the YAPO server, even if it is not the same device running the YAPO server. Currently remote browsing works very well, but video files and folders will open on the host device only.

[2016-08-24 14:12] sjclayton opened #9 "[Feature Request] Add FAVICON.ICO"
This needs to be done sometime, although not really a feature it would be nice to have because as of right now there isn't one.

I may do it at some point...

[2016-08-24 14:15] sjclayton commented on #7
I may try to work on this today if I get time... see if I can't clean up the UI a bit

[2016-08-24 16:14] curtwagner1984 commented on #7
Ok, so I removed unnecessary buttons from the edit image interface. Now there are 4 buttons:
*  Upload: opens the upload file dialog
*  Edit: Lets you crop the current image
* OK: uploads the cropped image result
* Cancel: self explanatory.

There is still the issue of the ugly grey box.
@sjclayton If you want to dig around there the it's under static/js/app/detail-profile-image.
The JS controller

[2016-08-24 16:54] thierry400 opened #11 "[Feature Request] Remember "order by" dropdown menu choice"
It would be nice if YAPO remembers how you  usually order your scene's, actors, websites, ..

[2016-08-24 16:56] thierry400 opened #12 "removing tags out tag list doesn't seem to work"

[2016-08-24 17:05] sjclayton commented on #12
I can confirm it doesn't work in the Actor tag list... not sure about the Scene tag list, as I haven't added any yet because I'm still mainly doing testing more so than actually using YAPO for my collection

[2016-08-24 17:15] sjclayton commented on #7
Something in the changes you made broke the cropping window, it doesn't display the image you select after you pick an image from Browse... therefore you can't effectively change images at all.

[2016-08-24 17:54] curtwagner1984 commented on #12
Yeah, this doesn't work because I haven't implemented this functionality yet. I will do so ASAP.

[2016-08-24 17:57] curtwagner1984 commented on #7
@sjclayton  Strange... It works on my end. Did you clear the cache before trying again ?

[2016-08-24 18:59] sjclayton commented on #7
I will try again.... I didn't think something like that would be affected by caching though.

[2016-08-24 19:05] sjclayton commented on #7
OK, I re-pulled it after resetting to the commit before you made the change, and I cleared my cache and you're right it does work (strange that something like that actually gets cached)... I wouldn't have thought that at all. Hence why I didn't try to clear it before. =P

[2016-08-24 19:37] curtwagner1984 commented on #12
This should work now. There are two icons. The x icon will show up when it's not a main page IE actor-tags that are part of an actor page, then clicking on the x will only remove the tag from the current actor. The garbage icon will show up if it's a main page IE under actor-tag in the main menu then clicking it will remove the tag from the database.

This works with actor\scene tags and websites.

[2016-08-24 19:40] curtwagner1984 commented on #7
So I guess we can consider this issue closed ?

[2016-08-24 19:44] curtwagner1984 commented on #11
You mean like setting a default option for sort order for everything, and that so it will be persistent even after turning the server on and off? If that's what you mean we can store it in the settings file I would imagine.

[2016-08-24 19:45] curtwagner1984 commented on #9
It would require someone with an artistic talent... I'm not really such person.

[2016-08-24 19:47] curtwagner1984 commented on #8
This is a big issue. Like I said on the forum the best solution I can think for this is transcoding the video using ffmpeg, but I didn't manage to find any good examples as to how this may be achieved.

[2016-08-24 19:50] sjclayton commented on #9
I am pretty good with that kinda thing, that's why I mentioned that I might do it at some point soon when I have more time! =D

[2016-08-24 19:52] sjclayton commented on #7
Yeah I think it's safe to close it... as far as cleaning up and making the UI look better that can be dealt with seperately.

[2016-08-24 21:33] sjclayton opened #13 "[Bug] Generate Sample Video not working on Linux"
I tried the modification you posted in the forum on Emp adding single quotes to that line in ffmpeg_process.py worked for me, and it generated the sample video... I didn't really want to change it here however and make a new commit after having fixed it as I don't quite remember how Windows handles single quotes on the command line.

Here is the corrected line:

    scale_argument = "-vf scale={},

[2016-08-25 01:51] sjclayton opened #14 "[Bug] Pagination returns to first page when going back after navigating away from a page"
I think this needs to be fixed, as navigating back from a page after clicking on a link and having it reset to the 1st page automatically is a very large annoyance. An actual issue from my standpoint, therefore I am considering this a bug, as opposed to a feature request.

[2016-08-25 10:27] sjclayton commented on #13
I fixed the issue with the temp files not being removed after the sample video is generated -- pushed in my latest pull request, and I'm also going to submit the adjustment made the the line I mentioned above... let me know if it breaks anything on Windows @curtwagner1984

[2016-08-25 12:13] #7 closed

[2016-08-25 12:14] curtwagner1984 commented on #12
Anyone can confirm it's working correctly?

[2016-08-25 12:26] curtwagner1984 commented on #13
It does indeed break the sample generation on windows:
`No such filter: 'pad=ih*16/9:ih:(ow-iw)/2:(oh-ih)/2'\r\nError opening filters!\r\n"`

It's strange... Does it work on linux with generating screenshots for the scenes on import? It uses the same padding argument:
`FFMPEG_SCREENSHOT_ARGUMENTS = "-vf \"thumbnail,scale=1280:720,pad=ih*16/9:ih:(ow-iw)/2:(oh-ih)/2\" -frames:v 1"`

As the scale arg

[2016-08-25 12:39] sjclayton commented on #13
I have not checked to see if it works on import or not.... I will do so... but I know that it didn't work generating them afterwards without adding those single quotes to the scale_argument line.

Something has to be able to be figured out to get it to work, or else OS specific code will need to be added, so that it runs with the correct quoting (single on Linux and no quotes on Windows)...

[2016-08-25 13:34] sjclayton commented on #13
Fixed it!!! =D Newest pull request will have the fixed code that should work on both OSes....

The arguments being passed to ffmpeg needed to be treated escaped or treated as a regex... like in the line:

FFMPEG_SCREENSHOT_ARGUMENTS = "-vf \"thumbnail,scale=1280:720,pad=ih*16/9:ih:(ow-iw)/2:(oh-ih)/2\" -frames:v 1"

[2016-08-25 14:01] curtwagner1984 commented on #13
Tested and it works on windows as well! Cheers!

[2016-08-25 14:04] curtwagner1984 commented on #6
There now should be an option in the settings menu. It should persist even if you restart the server.

[2016-08-25 14:12] sjclayton opened #17 "[Bug] Create Sample Video checkbox in Add (import) page doesn't work"
Tried to import a new folder and generate the sample videos on import, and it didn't even attempt to do it, let alone throw an error of any sort... Even with the 'Create Sample Video?' check box checked it gave this when it completed.... saying the createSampleVideo box wasn't checked even though it was...

[25/Aug/2016 07:47:08] "GET /add-items/?actorsToAdd=&createSampleVideo=false&folderToAddPat

[2016-08-25 14:13] sjclayton commented on #13
@curtwagner1984 I opened a new issue for the other bug. You can close this now!

[2016-08-25 14:50] #13 closed

[2016-08-25 15:33] curtwagner1984 commented on #14
First of all let's see if I understand you correctly, by 'navigating back' You mean that after you click on a link and are redirected to another page, you click 'back' on the browser?

This issue is a bit complex as we need to find a way to differentiate between when you just navigate to the page (And the pagination should be on the first page) and when you coming back to a page using the back but

[2016-08-25 16:10] curtwagner1984 commented on #17
This should work now.

[2016-08-26 02:56] sjclayton commented on #17
@curtwagner1984 Doesn't work on my end...

[code]

[2016-08-26 03:04] sjclayton opened #18 "[Bug] Screenshots / Sample Videos not being removed from disk after removing scene from the database."
Upon removing (deleting) a scene from the database, the screenshots / sample videos generated for said scene that are stored in /media/scenes/{Scene ID}/ are not being deleted from disk.

[2016-08-26 03:07] sjclayton commented on #14
@curtwagner1984 Yes to clarify, you are correct in your interpretation of what I was saying... That is exactly what I meant.

Say you are on the Actors page and have Grid View enabled and you to go say page 2.. and then you click on a specific Actor, if you click the back button in your browser... when it returns to the Actors page it should still return to page 2 and not page 1 as page 2 was wher

[2016-08-26 06:57] sjclayton commented on #9
I have this done and ready to go... my only issue is in trying to get it to work on my local installation of YAPO.. I cannot figure out where to put it or how it should be called.

I'm not really familiar with AngularJS, but usually favicon.ico goes in the root folder for a website. However with the way YAPO is laid out I cannot figure out where this is... I tried a few different things and failed

[2016-08-26 09:48] sjclayton commented on #17
**UPDATE:** It's not a caching issue.... I just re-pulled it after going back to the previous commit, so I could play around with it some more....

It's acting so weird, it throws the above mentioned error at random times.... also I have found that checking the box sometimes works and other times it doesn't.... Also it will sometimes try to generate sample video even with out the box being checked

[2016-08-26 10:37] sjclayton opened #19 "[Bug] Inputting / changing birthday on Actor detail page doesn't work."
Attempting to input or change a birthday on an Actor detail page doesn't work either by manually entering the date, or by trying to use the calendar button.

[2016-08-26 10:50] sjclayton opened #20 "[Feature Request] Add conversion display for Weight and Height to imperial measurement"
Add display similar to how a birthday is displayed underneath in (X Years Old) for the Weight and Height fields:

For Example: An entry in the Height field of 163 cm would be displayed underneath as (5 feet 4 inches) and a Weight of 54 kg would be displayed as (119 pounds)

[2016-08-26 12:21] curtwagner1984 commented on #17
Yeah. It's because I'm an Idiot. There are two parts of this function:
*  if the scene is already in the database and is missing a sample video
*  if the scene is not in the database yet.

Because the code for creating the sample is the same function for both of them, I only tested it with scenes that were already in the database and assumed it will work for the other.

However now I noticed that

[2016-08-26 12:23] curtwagner1984 commented on #12
Since no one complained it doesn't work, I'll assume that it does.

[2016-08-26 12:23] #12 closed

[2016-08-26 12:38] sjclayton commented on #17
I figured it had to be something that simple like that... just wasn't sure that was it. Appears to work fine now!! This can be closed.

[2016-08-26 12:40] sjclayton commented on #12
I tested it with scene tags and it worked fine... I'm not sure about actor tags though, but assume it'll work just the same.

[2016-08-26 12:43] curtwagner1984 commented on #9
This is a Django issue and not angular, after a bit of googling I learned that the favicon should go inside the root of the static folder.

And the markup in index-head.html should be:
`<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>`

I've included this in the last commit with a placeholder icon I got from google, you just need to replace it in the root of 'static'

[2016-08-26 12:51] sjclayton commented on #9
Alrighty, I wasn't 100% sure whether or not it was an Angular issue or Django... Just assumed it was an issue with Angular, because I figured Angular being the client that it had something to do with how it was calling the image to load it.. I did some reading / research and found lots of people complaining they were having a hard time with getting favicon's to load in their Angular projects.

I w

[2016-08-26 13:07] curtwagner1984 commented on #9
Maybe we will face angular problems as well with this issue. RIght now the problem was to get the server to serve the correct file.

[2016-08-26 13:12] sjclayton commented on #9
It appeared to work fine with the placeholder image, so I think we're good. I just sent a pull request with the updated code and icon image files.

[2016-08-26 13:16] curtwagner1984 commented on #9
Seems to work fine! Good job!

[2016-08-26 13:58] #17 closed

[2016-08-26 14:53] curtwagner1984 commented on #19
Should work now.

[2016-08-26 14:54] curtwagner1984 commented on #6
I'll assume that it works. If not we'll reopen this issue.

[2016-08-26 14:54] #6 closed

[2016-08-26 14:54] #9 closed

[2016-08-26 15:14] sjclayton commented on #19
The date picker appears now, but if you put in a new date it doesn't get saved...

Also it seems to be taking any dates that are already in the database and offsetting them by one day earlier... like if an actresses b-day is November 22 it'll change it to the 21st in the display window.

[2016-08-26 15:27] sjclayton opened #22 "[Bug] Cannot import .MKV video files"
It appears that YAPO is unable to import MKV video files... I just noticed this when importing a folder, as all other files were added to the database except the one MKV in the folder.

[2016-08-26 16:10] curtwagner1984 commented on #4
I changed the way grid view works. Now it should not query the server for a new set of items, instead it will change the view of the items already fetched from the server. This means that the query parameters (search, order etc) should persist over a change of view. In addition in actor detail when switching to grid view now automatically hides actor sidebar.

[2016-08-26 16:11] sjclayton commented on #20
@curtwagner1984 I think this link may help you out some: [http://hawkee.com/snippet/9672/](url)

[2016-08-26 22:40] curtwagner1984 commented on #22
Added MKV to accepted extensions:
ACCEPTED_VIDEO_EXTENSIONS = {".mp4", ".avi", ".mov", ".flv", ".rm", ".wmv", ".mov", ".m4v", ".mpg", ".mpeg", ".mkv"}

[2016-08-26 22:44] curtwagner1984 commented on #19
That's weird ... It saves it on my end ... Do you get a 200 code for the put request ?
You can also see the return codes from the inspect tools in chrome under network.

[2016-08-26 22:49] sjclayton commented on #19
`[26/Aug/2016 17:48:20] "PUT /api/actor/1/ HTTP/1.1" 200 925
` is what I get... so yes, I get a 200.... but it still does not save..

There is also the issue of the offset that is happening that I mentioned above ^^.

[2016-08-27 04:16] sjclayton commented on #22
@curtwagner1984 did you add this, but not commit it then?

[2016-08-27 04:35] firewalkwithme93 commented on #4
Works great from what I can tell!

[2016-08-27 04:41] #4 closed

[2016-08-27 11:34] curtwagner1984 commented on #22
Perhaps, try now.

[2016-08-27 11:47] sjclayton commented on #22
We're all good now! I noticed that line when poking around, and had modified it locally just before you mentioned it... but didn't get a chance to push the change =P

[2016-08-27 11:47] #22 closed

[2016-08-27 11:48] thierry400 commented on #11
Yes that is exactly what I mean.

(And sorry for the late response, havn't had alot of spare time the last few days)

[2016-08-27 11:56] thierry400 opened #25 "Search and tag actors with aliasses"
I would like the possibility to search the actor list, or tag an actor on a scene using their alias instead of the main actor name used to add the actor.

For example I got an actress called "Gina Gerson" Who ofter goes as "Doris Ivy"
It would be nice if i could search or add her as tag on a scene by using either the main name "Gina Gerson" as the alias "Doris Ivy". Now it only seems to work with

[2016-08-27 12:53] curtwagner1984 commented on #19
It's strange on my end, there is no offset of the date.
![chrome_2016-08-27_15-40-41](https://cloud.githubusercontent.com/assets/20076369/18027475/e9cafb3e-6c6c-11e6-9114-74bbc14ed6be.jpg)

This is the line that takes the date from the db and puts it on the interface variable:
[code]
(In actor-detail.component.js)

Then on date change this function translates the js date into a format that django

[2016-08-27 12:57] curtwagner1984 commented on #20
I get a 404 for this link

[2016-08-27 12:58] sjclayton commented on #19
I checked the REST API before and the birth date is correct in there (no offset)...

So I dunno *shrugs*.... this is very weird...

[2016-08-27 13:00] sjclayton commented on #20
Try it now!! =P

[2016-08-27 14:06] sjclayton opened #27 "[Feature Request] Add button to play random scene"
Add a button to play a random scene, chosen from either all scenes in the database when in Scene view or from scenes by a specific actor when in Actor detail view.

[2016-08-27 14:17] firewalkwithme93 commented on #27
Excellent suggestion, finding random scenes is possible with the filter but this makes things even more simple :)

[2016-08-27 14:23] firewalkwithme93 opened #28 "[Bug] Not all Actors displayed after Items Per Page set"
I've found that when I set a custom Items Per Page amount (above the default 25), the listings in the Actors section only go so far alphabetically. For example, normally I have six pages of actors from A-Z, but when I set it to say, 100, the amount of Actors displayed on each page is the same but there's only 2 pages and it stops at D. I think perhaps the lessened amount of pages corresponds to th

[2016-08-27 14:29] sjclayton commented on #27
Yes I'm aware you can sort that way with the filter.... I believe this feature would basically negate the need to Order by Random as, in essence doing that is kind of pointless. I don't want to just see a big list of 100's of scenes randomized and still have to scroll through and pick one, I'd rather just click a button and be surprised =P

[2016-08-27 14:37] sjclayton commented on #28
@firewalkwithme93 This appears to be a loading / refresh issue, if you do a force refresh after on the Actor page after changing the Items Per Page setting it should display properly.

Clearly a bug however, yes!

[2016-08-27 15:06] curtwagner1984 commented on #18
Added this functionality to the 'clean database' option in settings. Now it should remove actor\scene folders from the /media/ folder if they are no longer in the database.

[2016-08-27 15:12] sjclayton commented on #18
@curtwagner1984 Alrighty -- I'll test it and let you know if there is any issues.

[2016-08-27 15:31] sjclayton commented on #18
@curtwagner1984 It appears to work just fine!! =D

Quick side question: You have it checking for Actors no longer in the database, but as of yet there is no way of actually deleting an Actor.

[2016-08-27 15:36] curtwagner1984 commented on #28
Should work as intended now.

[2016-08-27 15:47] sjclayton commented on #28
@curtwagner1984 Appears to be good - can probably close this now.

[2016-08-27 16:18] curtwagner1984 commented on #27
Partially implemented ''[Feature Request] Add button to play random scene #27'. Play random scene works with scene, actors, websites and scenetags but only when the search term is blank.

[2016-08-27 17:52] #28 closed

[2016-08-27 18:43] curtwagner1984 commented on #19
Perhaps it's a linux thing... Maybe the date format is a bit different.
Can you try to zero in on the problem? At some point after it gets the info from the server it changes the value for the DOB.
You can debug with chrome devtools, it's built in chrome and has breakpoints and watches.
You can start by setting a breakpoint on line 137 in actor-detail.component.js `self.birthdate = new Date(res.da

[2016-08-27 18:45] curtwagner1984 commented on #18
@sjclayton There is, on the main actor page there should be garbage icons near the actors instead the usual x this should delete actors from the db.

[2016-08-27 18:50] curtwagner1984 commented on #27
@sjclayton I think the point of a random ordering is for sort of discovering items you forgot you had.
When your collection is big enough, you are not aware of most of it, so having scenes pop up in an random order will allow you to discover scenes you didn't know you had.

[2016-08-27 19:15] sjclayton commented on #27
@curtwagner1984 Yeah I get that, sorry my comment wasn't meant to mean that there is reason to remove that function.

[2016-08-27 19:30] curtwagner1984 commented on #25
You mean when tagging and typing in 'Doris Ivy' in the search box to have it show 'Gina Gerson', or actually to tag the scene with an alias 'Doris Ivy' so it would say 'Doris Ivy' under actors even though it's an alias?

[2016-08-27 19:54] sjclayton commented on #19
@curtwagner1984 Setting a breakpoint on line 137 and calling `alert(self.birthdate);` returns: `null`

[2016-08-27 20:16] sjclayton commented on #18
@curtwagner1984 Thanks! Apparently I'm fucking blind =P

[2016-08-27 20:16] #18 closed

[2016-08-28 06:56] firewalkwithme93 commented on #27
Great feature! Thanks very much

[2016-08-28 09:16] sjclayton opened #30 "[Feature Request] Add aliases function to scene tags / websites"
I think it would be complimentary to add an alias function to the scene tags (like how Tag synonyms work on Empornium), where in if you have the tag 'Blowjob' in the database you could then set the alias 'BJ' for it for example, so that when scenes are being parsed they will still get tagged with 'Blowjob' even though they do not contain it in their filename or path.

Another example, in the case

[2016-08-28 09:57] sjclayton opened #31 "[Feature Request] Add confirmation for removing/deleting items from database or disk"
Needs to be some sort of confirmation before deleting items (scenes, actors, tags, etc.) from the database or in the instance of removing a scenes files from disk. The potential for accidentally clicking those buttons (remove/delete) is fairly high.

[2016-08-28 11:36] curtwagner1984 commented on #19
Apparently it's because of the GMT. In the database it's 29 oct 1990 and the time defaults to 00:00 so it's `Mon Oct 29 1990 00:00:00 GMT 0000` because your GMT is -5 it subtracts 5 hours from this date so you get `Sun Oct 28 1990 19:00:00 GMT-0500 (EST)`

One of the suggestions on the angular ui page was this
[code]
Try this and see if it helps (line 137):
[code]
This should take the wrong date a

[2016-08-28 11:52] curtwagner1984 commented on #30
Yes I thought about that, but did not implement that yet because I thought of making some sort of tag hierarchy for example Femdom is a a part of BDSM so if you tag something with femdom it should automatically tag it with bdsm.

Also, actor tags should be in scene tags so when you tag a scene with an actor with blond hair and blue eyes the scene would be tagged as well.

Also, also websites many

[2016-08-28 11:53] curtwagner1984 commented on #27
It doesn't work with filtered results yet. (When the search box is not empty)

[2016-08-28 12:04] sjclayton commented on #19
@curtwagner1984 That worked!!

[2016-08-28 13:23] sjclayton opened #33 "[Feature Request] A way to disable individual scene tags from being auto-tagged."
I just thought of the potential for this issue when contemplating adding certain Scene Tags to my database that I normally use for the fear that they will be auto-tagged on scene they aren't actually applicable to...

Example: If I have the tag 'No.Sex' then I do a mass folder import, it's going to tag every file it finds with "sex" anywhere in the file name with the 'No.Sex' tag.

or another very

[2016-08-28 14:17] curtwagner1984 commented on #19
I've merged your pull request. This should work correctly for everyone now.

[2016-08-28 14:38] #19 closed

[2016-08-28 14:39] curtwagner1984 commented on #33
I'm a bit confused, why would it tag 'No.Sex' on files that have only the word 'sex' in it ?

The way tagging works now is it's searching the filename for occurrence of a specific tag,actor, alias or website. It's sorting them by length and searches for the longest words first, if it finds something, it removes the tag from the searched string.

It treats '.' as a single or empty character (like i

[2016-08-28 14:51] sjclayton commented on #33
Thank you for explaining that, that clears things up quite a bit... I will go ahead with all the tags I was going to add to the database and run 'Tag All Scenes' and see if I have any issues.

[2016-08-28 15:24] sjclayton commented on #33
Appears all good! Thank you for helping me to understand the way that works a bit better. =D

[2016-08-28 15:24] #33 closed

[2016-08-28 15:59] thierry400 opened #35 "actor scraper stopped working"
Hello,

I had no problems yesterday with scraping new actors.
Today after I updated Yapo I can't seem to scrape any actors.
(Problem is with both IMDB and freeones)

I also can't scrape actors I used to be able to scrape any more.
I always get something like this message: "freeOnesCould not find AJ ApplegateTry a different scraper or looking manually"

and the command promp gives me the following:

[2016-08-28 15:59] curtwagner1984 commented on #33
@sjclayton There is still some merit to excluding some tags from specific scenes. for example if the filename is "Akeno sex" it will be tagged as 'no.sex', this is a mistake. We want to exclude no.sex from this specific scene.

[2016-08-28 16:04] sjclayton commented on #35
Yes, sorry - that was my mistake... I fudged something while I was cleaning some things up... it's fixed in the latest commit though.... if you re-pull it'll be all good.

[2016-08-28 16:08] sjclayton commented on #33
Well maybe the option could be added later on at some point then.... like a simple toggle for tags that you don't want the auto-tagging parser to search for....

[2016-08-28 16:11] thierry400 commented on #35
Indeed, after a re-pull I can scrape again

[2016-08-28 16:12] #35 closed

[2016-08-29 16:28] curtwagner1984 commented on #31
@sjclayton
You can try to do it yourself :)

First of all there is a 'confirm' function in JS:
[http://www.w3schools.com/jsref/met_win_confirm.asp](url)

It returns `True` if the user press 'Ok' and `False` if the user presses 'Cancel'

So basically what you want is if the user wants to delete something, you summon this popup and if he presses 'Ok' you go on and do what Yapo already does now, if n

[2016-08-29 17:35] sjclayton commented on #31
@curtwagner1984 I am going to take a stab at this... just working right now on getting my development environment set up on a separate machine =D

On that machine I am going to clone my fork of YAPO from my repository, and start to work on it more in depth.

Things I am planning to work on in the near future include... a major rework of YAPO's CSS styling, scrapers for IAFD and Boobpedia, and othe

[2016-08-29 18:07] curtwagner1984 commented on #31
Awesome !
BTW, I'm using [Pycharm](https://www.jetbrains.com/pycharm/) as an IDE. It can integrate with github and can be configured to work with virtual environments. And as far as I know is platform independent.

[2016-08-29 18:08] sjclayton commented on #31
@curtwagner1984 Did you buy the Pro Version?

[2016-08-30 00:16] curtwagner1984 commented on #31
@sjclayton Nah... So far I just use the 30 day trail of the pro version. I'll think what to do when it ends.

[2016-08-30 00:29] sjclayton commented on #31
I am going to push a commit shortly.... hopefully you're still around.

[2016-08-30 00:38] thierry400 commented on #25
I think it would be best to just show the main name.
So in this example if I type Doris Ivy that it suggests and tags 'Gina Gerson' instead

[2016-08-30 01:05] sjclayton commented on #20
Implemented this! =D

[2016-08-30 12:13] sjclayton commented on #31
@curtwagner1984 Right now it only works with removing a scene from the database, and not the disk... as I can't seem to figure out how to disable the code that makes it so that the function to delete from disk only works when in multiple tag/delete mode when at least one item is selected.

[2016-08-30 12:48] curtwagner1984 commented on #20
@sjclayton Indeed, there is no need for 2 functions here. What you basically do is convert cm to inches and then do an integer division to get the feet /12 or  modulo to get the the remaining inches.

You could do simple js operations in the  markup like so:
[code]
(Provided that heightConvertInches returns the total amount of inches.)
This works but it causes a problem. When doing / 12 it's retur

[2016-08-30 13:03] sjclayton commented on #20
@curtwagner1984 Thanks for explaining things better, I am a bit rusty -- I haven't done much programming in a long time (I'm actually a carpenter by trade =P)

The modifications you made look good overall -- the only thing is the line you removed in the weightConvert function breaks it and returns incorrect values now.

Responding to your questions:

1) I could try writing something to convert thi

[2016-08-30 13:34] curtwagner1984 commented on #31
@sjclayton Yeah, Pycharm is awesome!

What do you mean

Can't you just use the same code and wrap it with the confirmation function code ?

[2016-08-30 13:37] curtwagner1984 opened #38 "Clear empty folder from folder view on when using 'clean database'"
Right now, there is no cleaning of empty dirs from the database. So if you had `dira/file1.mp4` and you remove `file1.mp4` from the db and now dira is empty, it will still appear in the folder view. This is wrong. It should be cleaned when cleaning the database.

[2016-08-30 13:48] sjclayton commented on #31
@curtwagner1984 Ok, maybe I don't get which code you're referring to, or how you're referring to it.... =P (Maybe, I'm slightly slow... LOL)

This is the code in actor-detail.template.html right now:

[code]

but if I change it to something like this (removing the ng-if, which is what I assume is telling it to require tag multiple items to be selected):

[code]

It doesn't work... it still appears

[2016-08-30 14:29] curtwagner1984 commented on #31
@sjclayton

Correct!

I mean why didn't you do it with the ng-if?

Instead of this:
[code]
Make it like this:

[code]

And in confirmRemove:
[code]

[2016-08-30 14:30] curtwagner1984 commented on #14
Maybe a dirty workaround for this is to open new items in new tabs ?

[2016-08-30 14:34] sjclayton commented on #31
@curtwagner1984 I don't know why I didn't do that.... I tried something similar to that and it still didn't work...

Question.... If I do change it to be like that.... is it still going to then require 'Tag / Delete Multiple Items' to be selected and have at least one item checked...?

[2016-08-30 14:38] sjclayton commented on #14
@curtwagner1984 Could this be added, so that it automatically opens whatever is clicked on in a new tab...?

[2016-08-30 14:53] sjclayton commented on #20
@curtwagner1984 Did a little research into the conversion for body measurements (specifically bust).... and what I said above about converting the bra size to metric may be an issue.... because for example: someone with a standard North American 32C bra size (inches)... if you convert 32 to (cm) it would be 81, however with the way european bra sizing works they wouldn't be an 81C they'd be a 70C.

[2016-08-30 16:10] curtwagner1984 commented on #31
@sjclayton Yes it will still require at least one scene to be selected.
As far as I remember the requirement for selecting at least one element is a "bugfeature" a "febug" a "bugture".

The infrastructure of handling selected items was already in place (from the remove from db functions), so it was much easier to implement deletion of multiple items using the same function than creating a new func

[2016-08-30 17:07] curtwagner1984 commented on #11
Ok, so I made it so 'order by' will persist. Also I added 'random' and 'date added' sort options for folders. This will require to call `makemigrations` and then `migrate` when upgrading.

[2016-08-30 17:21] thierry400 commented on #11
Thanks! it indeed is working perfectly!

I did however get the following error while doing 'makemigrations:

(py3virtualenv) C:\Yapo\YAPO>python makemigrations
python: can't open file 'makemigrations': [Errno 2] No such file or directory

(py3virtualenv) C:\Yapo\YAPO>python manage.py makemigrations
Static files dir is: C:\Yapo\YAPO\videos\static
Media files dir is: C:\Yapo\YAPO\videos\media
C:\Pro

[2016-08-30 17:32] curtwagner1984 commented on #11
@thierry400 Yes, this is what you were supposed to do. I think this should be added to the update instructions on the main page.

[2016-08-30 17:45] curtwagner1984 commented on #20
@sjclayton Seems like too much work for feature that no one would really need. Leave it alone for now, if it will be needed we'll add it later on.

[2016-08-30 17:54] sjclayton commented on #20
@curtwagner1984 I agree -- but you were the one who asked about it... ;)

[2016-08-30 21:12] curtwagner1984 commented on #20
@sjclayton If you work with a virtual environment you need to set it up in pycharm so it will use the virtualenv you installed Yapo with.

https://www.jetbrains.com/help/pycharm/2016.1/creating-virtual-environment.html

https://www.jetbrains.com/help/pycharm/2016.1/adding-existing-virtual-environment.html

This only applies if you installed Yapo with a virtual environment.

[2016-08-30 21:25] sjclayton commented on #20
@curtwagner1984 Yeah I figured out how to do it.... as I mentioned at the end of my last post =P

Thanks for the links though, I'm still going to look at them.

[2016-08-30 21:32] #20 closed

[2016-08-31 20:03] curtwagner1984 commented on #30
Should work now ...

[2016-08-31 20:16] sjclayton commented on #30
@curtwagner1984 After pulling when I go to run makemigrations...

when I choose option 1 and input `datetime.datetime.now()` after pressing enter it just keeps asking me to choose options over and over.... everytime I try option 1 with that input it doesn't take it...

[2016-08-31 20:48] curtwagner1984 commented on #30
@sjclayton  It does take. There are fields added to most of the models so you need to input it about 7 or 8 times.

[2016-08-31 20:50] sjclayton commented on #30
@curtwagner1984 Ahhhh fuck fuck fuck..... okay.... I was wondering if maybe that was the case...

Thanks!!!

[2016-08-31 21:02] sjclayton commented on #30
@curtwagner1984 Can you add multiple scene tag aliases, like you can with websites or...?

[2016-08-31 21:42] curtwagner1984 commented on #30
@sjclayton Yep... I forgot to add a tooltip?

[2016-08-31 21:44] sjclayton commented on #30
@curtwagner1984 Yeah, I figured that might have been the case.... I can fix it if you want?

[2016-08-31 22:45] sjclayton commented on #30
@curtwagner1984 I'm working on it now!! =D

[2016-09-01 03:14] sjclayton commented on #30
@curtwagner1984 Tooltip was added for scene tag aliases (and the message revised) and code to prevent leading / trailing spaces in comma separated values was added in the lastest pull request.

Also I discovered an issue that needs some looking into...

Say for example, you have a website: 'Only.Teen.Blowjobs' and a parent scene tag 'Blowjob'.... files that match on 'Only.Teen.Blowjobs' for the we

[2016-09-01 04:18] sjclayton opened #42 "[Feature Request] Add usage counts to website, scene tag and actor tag lists"
Should be usage counts beside the items in each list. Counts should be visible without clicking on a specific tag or website, etc...

[2016-09-01 12:21] curtwagner1984 commented on #30
Yes I'm aware of this. I think what should happen is that websites and actortags should contain scentags inside of them. EX: 'Only.Teen.Blowjobs' will be tagged with 'Teen' and 'Blowjob' so every time a scene is tagged with this site, it is automatically tagged with both 'teen', and 'blowjob'. The same is true with actor tags, If a scene is tagged with an actor with an actor tag: "eye.color.blue"

[2016-09-01 14:36] firewalkwithme93 commented on #11
I'm trying to solve the date_added error, I'm selecting the first option and putting in 'datetime.datetime.now()' but it just asks me again. Am I getting the wrong end of the stick on this?

[2016-09-01 14:49] sjclayton commented on #11
@firewalkwithme93 Because the modified_date field was added to a shit load of the models for the database, you need to do it a bunch of times... just keep doing it over and over until it goes... like, it takes maybe 7 times or so...  =D

[2016-09-01 15:17] sjclayton commented on #30
@curtwagner1984

Can you give me an example of why this would really be useful? Like, I am not trying to piss on your breakfast, really... =P by adding code to prevent something that someone may **actually** want to do...

I just figured that because you didn't really response to what I mentioned in my message ^^ about it, and gave a thumbs up that it was all good...

[2016-09-01 15:22] firewalkwithme93 commented on #11
Ah! Thanks! :D

[2016-09-01 16:00] curtwagner1984 commented on #30
@sjclayton  I can't really think of any use for it actually.  I thought about instances when you don't to match a substring of a bigger word. EX: you want to match 'phone' but you don't want to match 'cell-phone' or 'headphone' or 'telephone' so you pad the word you want with spaces ` phone ` and it will only match this word if it's alone in the sentence and not a substring.
But now that I think a

[2016-09-01 16:07] sjclayton commented on #30
@curtwagner1984 Yeah, I totally get your point about it... I just couldn't figure out how it would be applicable / useful to what we are doing...

So are we in agreement then, that in all future cases where comma separated values (CSV) are required that we are going to strip the whitespace from them then?

[2016-09-01 18:21] curtwagner1984 commented on #30
@sjclayton Why not... Or at least until we find a case where is detrimental to the war effort.

[2016-09-02 11:30] curtwagner1984 commented on #11
Ok, I think we can consider this issue closed.

[2016-09-02 11:30] #11 closed

[2016-09-02 14:58] sjclayton opened #43 "[Feature Request] Jump to scene on random play"
Needs to be an option to jump to the scene that was chosen at randoms either 1) Scene Detail page... or 2) At least it's point in the scene list. This would make for easier identification of the scene that was played (especially in large collections), which would help with being able to readily add tags to it / delete it or modify it's data in any other way.

Maybe could be something that can be t

[2016-09-04 11:53] curtwagner1984 commented on #30
@sjclayton Ok so I found a case where it is detrimental to the war effort. If you give the tag 'Interracial' the alias 'IR' it will mistakenly pick up anything with the word 'g**ir**l' in it.

Also, I've added 'scene_tags' to websites and actor_tags. So now when you add a website to a scene it will tag this scene with the tags from the website. Also works with actors although actors have only 'sce

[2016-09-04 12:19] curtwagner1984 commented on #43
@sjclayton I'm working for a better solution, for now I've added 'last_played' and 'play_count' to the sorting options so you can easily track down scenes you played recently.

[2016-09-04 13:47] curtwagner1984 commented on #42
@sjclayton [Issue #42] Added 'usage_count' to actor\scene tags, website, actors. Also added option to sort by usage count.

It would also be nice to be able to search by usage_count but the search function had seen better days... Maybe when I'll clean it up I'll add this option.

Also, the usage count is a derived field and not stored in the database so it will take longer to sort by it. It is not

[2016-09-04 16:28] sjclayton commented on #30
@curtwagner1984 I created a #slack team account for YAPO -- you should have received an invite to it (check your gmail). I just think it would be better to use it for general conversations about issues here (it can be integrated with GitHub if you once you're on it and I make you an admin, which I will... you do 'add integration' and add your GitHub)... that way long conversations about things wil

[2016-09-04 18:07] curtwagner1984 commented on #30
@sjclayton Did you do `migrate` after `makemigrations` ?

[2016-09-04 18:08] sjclayton commented on #30
@curtwagner1984 I didn't even get to doing migrate... it did that on `makemigrations`

[2016-09-04 18:14] curtwagner1984 commented on #30
@sjclayton Well, Crap!
For some reason it executes code that is in urls.py when manage.py is executed... and this code itself needs the migrations to be complete to work.
I need to figure out where to put it so it will execute on server startup specifically and not just when manage.py is executed...

[2016-09-04 19:59] thierry400 opened #45 "can't start server after latest pull"
Hello,

The last pull seems to have broken my YAPO.
I get the following in the command prompt:

[code]

Any ideas how I can get it working again?

[2016-09-04 20:02] curtwagner1984 commented on #45
@thierry400 Yes ... try the latest pull.

[2016-09-04 20:08] thierry400 commented on #45
It is fixed again thanks.
That was very quick!

[2016-09-04 20:11] curtwagner1984 commented on #45
@thierry400  Not really, I noticed @sjclayton message about it more than 2 hours ago, and was trying to fix it since.

[2016-09-04 20:13] thierry400 commented on #45
Hmm didn't notice that message.
Just coinidence then that i just pulled a few minutes before it got fixed.

Still thanks for all the effort and the good job :+1:

[2016-09-04 20:28] thierry400 commented on #45
I do seem to get another problem now.

Whenever i try to play a scene, my VLC player opens but i get this error in VLC:

Lezen van bestand mislukt:
VLC kon het bestand "Z:\Overige\Videos\[clips4sale.com]SKYLASFAMILYALBUMLARGE.wmv" niet openen (Bad file descriptor).
Uw invoer kan niet geopend worden:
VLC kon de MRL 'file:///Z:/Overige/Videos/%5Bclips4sale.com%5DSKYLASFAMILYALBUMLARGE.wmv' niet open

[2016-09-04 20:38] curtwagner1984 commented on #45
@thierry400 I didn't change anything that relates to how vlc opens files. Did you check that the file is actually there ? If it is, did you try to open it with vlc manually ?

[2016-09-04 20:40] thierry400 commented on #45
I opened it manualy and that works just fine. I'll now try to reboot everything and see if that helps

[2016-09-04 20:40] curtwagner1984 commented on #45
@thierry400 can you try to open it using the command line ?

[2016-09-04 20:46] thierry400 commented on #45
It must have been something weird with my VLC or my computer.

Rebooting it has solved my problem

[2016-09-04 23:10] #45 closed

[2016-09-05 15:19] firewalkwithme93 opened #46 "[Bug] YAPO loads blank"
When I try to open up YAPO, the page is just blank. Here's my console from opening to now:

C:\py3virtualenv\Scripts>activate

(py3virtualenv) C:\py3virtualenv\Scripts>cd ..

(py3virtualenv) C:\py3virtualenv>cd ..

(py3virtualenv) C:\>cd yapo

(py3virtualenv) C:\Yapo>cd yapo

(py3virtualenv) C:\Yapo\YAPO>python manage.py runserver 127.0.0.1:8001
Static files dir is: C:\Yapo\YAPO\videos\static
Medi

[2016-09-05 15:44] curtwagner1984 commented on #46
There are a bunch of 404s ... It can't find the static files. When was the last time it worked correctly and what have you changed since then ?

[2016-09-05 16:08] firewalkwithme93 commented on #46
Well, I loaded it up a few hours ago for the first time in a few days and my database was bizarrely completely empty. I decided to reinstall from the beginning, and it all went well except now I have this issue. So I suppose I fucked up somewhere along the way :p

[2016-09-05 16:45] sjclayton commented on #46
@firewalkwithme93 Did you get it working...??

[2016-09-05 16:50] curtwagner1984 commented on #46
@firewalkwithme93 It seems you skipped the `bower install` step when reinstalling. Well you could simply do the steps to install the bower dependencies ... I don't remember the precise commands but as far as I do remember you need to go to `/static/bower` and type `bower install` better check in the readme for the exact instructions.

[2016-09-05 17:11] firewalkwithme93 commented on #46
I'm kind of confused, because I directed the virtualenv to C:\Yapo\YAPO\videos\static\bower and ran bower install, the folder now has bower_components and bower.json but it's still not launching properly. Now I get:

C:\Yapo\YAPO>python manage.py runserver 127.0.0.1:8001
Static files dir is: C:\Yapo\YAPO\videos\static
Media files dir is: C:\Yapo\YAPO\videos\media
Static files dir is: C:\Yapo\YAPO\

[2016-09-05 17:36] firewalkwithme93 commented on #46
I started from the beginning again, not sure what I did different this time but it seems to be working fine again :dancer: thanks for the help as always!

[2016-09-05 17:37] curtwagner1984 commented on #46
@firewalkwithme93  Why it's looking in Python27? There should be Python3

[2016-09-05 17:39] firewalkwithme93 commented on #46
Yeah, I think maybe that's where things messed up - I already have a pre-existing Python installation of 27, and I had that as well as 35 running separately just fine, but perhaps I mixed them up when reinstalling

[2016-09-05 17:42] curtwagner1984 commented on #46
@firewalkwithme93 Using the correct virtualenv should take care of running the correct python versions. You can have as many versions of python as you want installed simultaneously .

[2016-09-05 18:16] firewalkwithme93 commented on #46
Okay, everything working smoothly - except for a strange error I've never had before. I was trying to import my scenes and this interrupted it:

Unhandled exception in thread started by <function check_errors.<locals>.wrapper at 0x0000014E36446D90>
Traceback (most recent call last):
  File "c:\python35virtualenv\lib\site-packages\django\db\backends\utils.py", line 62, in execute
    return self.cu

[2016-09-05 18:22] curtwagner1984 commented on #46
@firewalkwithme93 I have never seen this error too. I don't think the problem is with Yapo...  It might have something to do with write permissions.

You did run `makemigrations` and `migrate` without a problem ?

[2016-09-05 18:24] firewalkwithme93 commented on #46
I did, but for some reason it didn't like it anyway. I deleted the database (since it didn't have anything in it, anyway) and ran `migrate` to make a new db and it seems to be going fine now.

[2016-09-05 18:25] curtwagner1984 commented on #46
@firewalkwithme93 Wait, so now it works?

[2016-09-05 18:26] firewalkwithme93 commented on #46
@curtwagner1984 Yep, it's been importing for a few minutes now and doesn't seem to have run into the disk I/O error again. Fingers crossed.

[2016-09-05 18:27] curtwagner1984 commented on #46
@firewalkwithme93 Strange... However it seems the problem is somewhere in your specific setup and not in Yapo.

[2016-09-05 18:29] firewalkwithme93 commented on #46
@curtwagner1984 Definitely seems to be the case, this is what happens when you try to use a computer when sick with the flu I think :+1:

[2016-09-06 01:25] thierry400 commented on #31
Is this option supposed to be working already?
Since I just noticed that I can't  delete any scene's out of the database.

I know that it used to work (maybe a week or so ago?) but now when i try to remove from db + delete from pc It just does nothing at all, and If I only try to remove from db I get a popup to confirm I want to delete the scene from the database.
If I agree on the popup the scene

[2016-09-06 01:32] sjclayton commented on #31
@thierry400 Looking into it now.... both functions should be working without issue... but I just confirmed the 'remove from db' function isn't working on my end now either, and it was just the other day.... I don't think anything got changed recently having to do with that part of the code...

But like I said I'll take a look..

[2016-09-06 06:00] sjclayton commented on #31
@thierry400 Apparently something must have got changed that is affecting it -- the changes for this issue have not yet been fully implemented... but that still shouldn't be causing any issues with the way it's supposed to work with the way the code currently is...

@curtwagner1984 will have to look at it... as something that got changed in the last few days is breaking the functionality.

[2016-09-06 09:24] curtwagner1984 commented on #31
@thierry400 @sjclayton Remove from database doesn't work, but deleting files works ? Also what the console(and chrome devtools) are saying when you trying to delete?

[2016-09-06 09:54] curtwagner1984 commented on #31
Should work now, yet still needs testing

[2016-09-06 17:08] sjclayton commented on #31
@curtwagner1984 Your last changes appear to have it working again now (the deletion functions), I just gave it a test... I am going to finish on the work for the confirmation dialogs later (for now atleast, because they might still need to be reworked down the road, as the JS alert function looks like shit - was thinking about looking more into Angular's dialog / popups either that or maybe jQuery

[2016-09-06 17:25] curtwagner1984 commented on #31
@sjclayton Well it should be done with a modal. (Like the one that is used when adding an image) https://angular-ui.github.io/bootstrap/
You can play around with the modal options, and look at how it's done for the actor image in actor details. It takes considerably more work than using js built in `confirm` which does look like crap

[2016-09-07 18:54] sjclayton commented on #46
@curtwagner1984 Can be closed now most likely..?

[2016-09-07 21:57] #46 closed

[2016-09-07 21:59] #42 closed

[2016-09-07 23:33] thierry400 commented on #31
I've ben testing the delete options today and I noticed that it is now working for just removing files from the database. Permenantly removing videos however doesn't work for me (It gets removed from the database but not from the hard drive)

I also noticed that if you click the permanent delete icon with no scene's checked from the tag/delete multiple scene's checkboxes, it still generates the wa

[2016-09-07 23:36] sjclayton commented on #31
@thierry400 Deleting from disk does work with at least one item checked (I confirmed that it worked before pushing the updates) -- it's still a requirement for now to have at least one item checked...

Also yes, the popup warning is still generated even with no items checked -- this needs to be fixed at some point... I don't know how to prevent it from happening with the way the code is..

[2016-09-07 23:40] sjclayton commented on #31
@thierry400 can you post your console output when deleting a file from disk with one item checked..?

Just make a copy of a random file from your collection and then delete the one that is in the database, and then you can use the copy to replace it afterwards...

[2016-09-07 23:48] thierry400 commented on #31
Indeed sorry, I forgot to post the console code.

Here is the code I get when i try to perm delete a file:

Patching scene
permDelete true
Got OSError while trying to delete Z:\Overige\Videos\008_Bianca_I.wmv : <member 'errno' of 'OSError' objects>
C:\Yapo\YAPO\videos
Deleted 'videos\media\scenes\7'
[08/Sep/2016 01:46:31] "POST /tag-multiple-items/ HTTP/1.1" 200 0

I checked with my file browser a

[2016-09-07 23:49] thierry400 commented on #31
I deleted a few other scene's before and I always got the OSError and the files never got deleted from the computer

[2016-09-07 23:49] sjclayton commented on #31
@curtwagner1984 will have to look into this... it is working from on my end (like I said, I checked it before I pushed the updates)

[2016-09-07 23:49] sjclayton commented on #31
@thierry400 so it was happening before I even added the confirm popup then...?

[2016-09-07 23:54] thierry400 commented on #31
I'm not sure if it deleted the files before the confirm popup got added.
I then just assumed it did.. I diden"t check it back then

[2016-09-07 23:56] sjclayton commented on #31
@thierry400 I was just going based on what you said...

thierry400 said:

[2016-09-07 23:57] thierry400 commented on #31
I meant earlyer today.

And The permissions problem could very likely be it yes.
I guess it doesn't realy help that the files aren't located on my C:/ drive

[2016-09-08 00:12] sjclayton commented on #31
@curtwagner1984 @thierry400  I just ran some more testing on it.... and deleting a scene from disk works for one single item without it being checked (didn't think it was supposed to work that way, even with the modifications) and multiple item file deletion when multiple items are checked as well on my end...

[2016-09-08 00:18] thierry400 commented on #31
hmm then I guess it will be some problems on my end.
Next week I have some more time. I might try a few things to see if I can get it working somehow then

[2016-09-08 00:23] curtwagner1984 commented on #31
@thierry400 I added a more verbose error log, it should now print the exact error so we could better understand what is happening.

[2016-09-08 00:41] thierry400 commented on #31
I updated Yapo and tried it again. It now gives this in the command line:

Patching scene
permDelete true
Got OSError while trying to delete Z:\Overige\Videos\Desertigl - Public Nylon Foot job.mp4 : Error number:<member 'errno' of 'OSError' objects> Error Filename:<member 'filename' of 'OSError' objects> Error:<member 'strerror' of 'OSError' objects>
C:\Yapo\YAPO\videos
Deleted 'videos\media\scene

[2016-09-08 00:55] curtwagner1984 commented on #31
@thierry400 My bad, try agan with latest pull

[2016-09-08 01:06] thierry400 commented on #31
that gives me the following:

Patching scene
permDelete true
Got OSError while trying to delete Z:\Overige\Videos\tittentrine_-_eigene_pisse_saufen_-_288498.wmv : Error number:13 Error Filename:Z:\Overige\Videos\tittentrine_-_eigene_pisse_saufen_-_288498.wmv Error:Toegang geweigerd
C:\Yapo\YAPO\videos
Directory 'videos\media\scenes\3604' already deleted
[08/Sep/2016 03:05:17] "POST /tag-multiple-i

[2016-09-08 01:07] thierry400 commented on #31
( and Error:Toegang geweigerd means Error:Access denied )

[2016-09-08 01:12] sjclayton commented on #31
@thierry400 @curtwagner1984 .... Permissions issue likely.... as it's not actually able to execute the operation on the file...

[2016-09-08 01:19] curtwagner1984 commented on #31
@thierry400 Have you tried running as admin? Also is the file marked as 'read only' ?

[2016-09-08 01:40] sjclayton opened #50 "[Feature Request / Bug] Extra info such as 'official website' not shown in Actor detail page"
I am not sure if this is a bug... or if it just hasn't been implemented yet.. :question:

Displayed details on page:

![screenshot from 2016-09-07 21 36 47](https://cloud.githubusercontent.com/assets/21167492/18334184/76b9d1c6-7543-11e6-96b0-2ff0a7e4c3cf.png)

Output from REST API:

![screenshot from 2016-09-07 21 38 21](https://cloud.githubusercontent.com/assets/21167492/18334186/7986547e-7543-11

[2016-09-08 01:47] thierry400 commented on #31
I noticed my library is kind of a mix from files marked as read only and not.
Anyways it doesn't seem to give any diffrent results.

Running as admin gets me a slightly difrent console result but still with the same actual result (removed from db, not removed from disk):

Patching scene
permDelete true
File already deleted!
C:\Yapo\YAPO\videos
Deleted 'videos\media\scenes\30'
Removed '025_Lunae_Le

[2016-09-08 11:46] curtwagner1984 commented on #31
@thierry400 So if you run it as admin, it thinks it successfully deleted the scene, but it didn't?
When it says 'file already deleted' it means he gets a 'File does not exist' error. Maybe it's looking for it in the wrong path...

I've added even more verbose logging, it should now say what file it was looking for when it says 'file already deleted'.

[2016-09-12 16:12] chengbert opened #53 "Can't add anything after installation"
I hope this is the right place to post this.
I installed YAPO and everything went fine, but now when I start the server I can't add anything.
This is the error I get when navigating to the settings page:
`Something went wrong!{"data":"\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta http-equiv=\"content-type\" content=\"text/html; charset=utf-8\">\n  <meta name=\"robots\" content=\"NONE,NOAR

[2016-09-12 19:46] sjclayton commented on #53
Did you run `makemigrations` and `migrate` before trying to start the server?

[2016-09-12 19:47] sjclayton commented on #53
@curtwagner1984 ^^

[2016-09-12 19:53] curtwagner1984 commented on #53
@chengbert Is it possible you installed the experimental branch instead of the Master one ?

[2016-09-12 19:54] sjclayton commented on #53
@chengbert If he followed the directions then it should have only pulled `master`

[2016-09-12 19:55] curtwagner1984 commented on #53
@sjclayton Maybe when you run `git pull` without specifying the branch it defaults to the most recently updated branch ?

[2016-09-12 19:55] sjclayton commented on #53
@curtwagner1984 If he followed the directions then it should have only pulled master

[2016-09-12 19:55] sjclayton commented on #53
@curtwagner1984 It shouldn't... I'll look into it

[2016-09-12 19:57] sjclayton commented on #53
@curtwagner1984 in your settings for the repo -- go in and see which is selected as the "default branch"

[2016-09-12 20:00] curtwagner1984 commented on #53
@sjclayton It's set to Master ...

[2016-09-12 20:02] sjclayton commented on #53
@curtwagner1984 Which it should be.... if he did have a problem and pulled the wrong one, then something you can try is switching the default branch from Master to AM... and then saving the change... then go right back in and change it back to Master again..

I will try cloning myself into a new dir and see what I get...

[2016-09-12 20:10] sjclayton commented on #53
@curtwagner1984 I replied on #slack

[2016-09-12 20:11] curtwagner1984 commented on #53
@chengbert This is a django server message, It usually comes formated and specifies what the problem is... Here is an example:
![chrome_2016-09-12_23-04-18](https://cloud.githubusercontent.com/assets/20076369/18450914/9c766ffc-793d-11e6-9450-13d9a3e213b5.jpg)

It looks like you copy\pasted the html code of this error instead of the formatted error message. Anyhow it says:

Which most likely means

[2016-09-12 20:54] chengbert commented on #53
![yapo](https://cloud.githubusercontent.com/assets/22134897/18452528/7c11c222-793b-11e6-933e-0d7aa4078448.JPG)
This is the error I get when trying to add something.

I did do migrate. If I want to do makemigrations I get this:
![yapo2](https://cloud.githubusercontent.com/assets/22134897/18452581/bb7794be-793b-11e6-8510-791a2f9d2a88.JPG)

[2016-09-12 20:56] curtwagner1984 commented on #53
@chengbert Hey, look in the readme https://github.com/curtwagner1984/YAPO near the end, under update instructions.

[2016-09-12 21:03] chengbert commented on #53
I already tried doing the update, still the same like in the last screenshot

[2016-09-12 21:10] sjclayton commented on #53
@chengbert If you get that prompt... refer to the **NOTES** section at the end of the readme

and choose option 1 and enter `datetime.datetime.now()` and press enter
and if it prompts you to do it again, just keep doing that step over and over until it completes..

It may take a few times..

[2016-09-12 21:16] chengbert commented on #53
Haha, wow that seems to work. I thought doing it once is enough.
Thanks, now I'll look into the programm.

[2016-09-12 21:33] sjclayton commented on #53
@chengbert then anytime you want to pull the newest version you just do...

`git pull` from your C:\yapo\YAPO folder
and then run `makemigrations` and 'migrate` again before starting up the server, and you'll have the most current version of YAPO

:D

[2016-09-14 08:52] #53 closed

[2016-12-12 19:49] HansMaulwurf2 opened #54 "[Bug] Search and Sorting is broken"
The search and sort fields in all sections are not filled with any data and therefore not usable. See attached screenshot.

![2016-12-12 20_38_03-yapo_](https://cloud.githubusercontent.com/assets/24531063/21113737/fa93bcf2-c0aa-11e6-9597-dfe8bb7d7915.png)

I've been digging through the code and I think I have identified the responsible code section:
In "YAPO\videos\static\js\app\section-list-wrapp

[2016-12-24 13:59] curtwagner1984 commented on #54
Hey, it would be great if you play around with it and see if it actually breaks something. If it doesn't just create a pull request and I'll add your fix.

[2017-11-19 06:14] chimerasoup opened #55 "DB Columns don't exist (Ubuntu)"
After installing YAPO and starting the web server, there are a number of columns that aren't created automatically for some reason. Some of these columns are:
[code]
and the table
`videos_actortag_scene_tags`

The lack of these columns caused many things not to work (e.g. Adding a Folder, creating a Tag, etc.). After created the columns manually in the DB, many errors disappeared. I haven't tested

[2018-01-05 11:22] c0zy commented on #55
This also counts for Windows installation. Did fresh install of YAPO and the same errors occured

[2018-01-05 12:02] c0zy commented on #55
after install sqlite3 and add this to the windows path i solved this the following way:

go to the YAPO installation folder: e.g. c:\projects\YAPO
enter: `manage.py dbshell`

In the sqlite shell enter the following:
[code]

[2018-02-04 11:03] CptJTK opened #56 "Extensions"
Hi everyone, i don't know, if this project is still running... but i tested it and saw it's good. i'd like to share some ideas to make it even better:
1. the search would be better with the ability of combining tags
2. maybe you should add some mechanism to recognize the website by checking the video for watermarks
3. in combination with some face recognition and content scraping from the found we

[2018-03-01 08:00] Alexisback opened #57 "bower install error"
I'm having trouble installing JS dependencies with **bower install**

where am I wrong?

[code]

![screen capture 054](https://user-images.githubusercontent.com/18039740/36833210-af3cf456-1d3f-11e8-9d84-725edf676c23.png)

[2018-07-22 01:34] cooperdk opened #58 "Freeones scraper not working"
The freeones scraper is not working. Even when the query URL is identical to a test URL entered in a browser, it returns fx: "Freeones could not find: Anna Bell Peaks - Try a different scraper or try looking manually! "

There must be an issue with the code, but I cannot see what it is.

[2018-07-22 13:56] cooperdk opened #59 "Playing inside the browser"
It's really no problem to play videos inside the browser.
I created porn sites with embedded video playback.

Use the HTML5 players readily available ;-)

[2018-08-02 14:22] cooperdk opened #60 "Error in videos/views.py"
For line 131:

      folder = Folder.objects.get(pk=int(request.query_params['folders_in_tree']))

When I go to the "Folders" menu and select any folder, I am getting this error:

Internal Server Error: /api/scene/
Traceback (most recent call last):
  File "c:\python\lib\site-packages\django\core\handlers\base.py", line 149, in get_response
    response = self.process_exception_by_middleware(e, re

[2018-12-07 17:31] bobmadoshi commented on #58
it's because the site changed some code so the images began with // instead of https://. This conditional if statement fixes it by testing to see if the string starts with // and if so it prepends https: to it.

                        if first_picture['href']:
                            if re.match(r'\/\/', first_picture['href']):
                                first_picture_link = "https:" + f

[2020-07-03 01:56] cooperdk commented on #59
This is not working in my own fork: https://github.com/cooperdk/YAPO-e-plus

[2020-07-03 01:57] cooperdk commented on #56
This is on my todo for my fork: https://github.com/cooperdk/YAPO-e-plus

[2021-02-09 22:37] cooperdk commented on #19
There is an error in the page controller which breaks updating the birthdate. It is fixed in my fork.
[https://github.com/cooperdk/YAPO-e-plus](YAPO e+)